.__button {
  width: 296px;
  height: 50px;
  flex-shrink: 0;

  border-radius: 12px;
  background: #77212e;

  cursor: pointer;

  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
