.club-ev-calendar {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.7);

  z-index: 2000;
}

.club-ev-calendar .calendar-wrap {
  margin-top: 132px;
  background-color: #eee;
}

.club-ev-calendar .days {
  margin-top: 3.286vh;
  margin-bottom: 1.878vh;
}

.club-ev-calendar .days input {
  width: 91.5px;
  height: 23px;

  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
}
