.d-flex {
  display: flex;
}

.f-dir-column {
  display: flex;
  flex-direction: column;
}

.j-content-start {
  display: flex;
  justify-content: flex-start;
}

.j-content-center {
  display: flex;
  justify-content: center;
}

.j-content-between {
  display: flex;
  justify-content: space-between;
}

.j-content-end {
  display: flex;
  justify-content: flex-end;
}

.a-items-center {
  display: flex;
  align-items: center;
}

.a-items-end {
  display: flex;
  align-items: flex-end;
}
