.graduation .select-grade div {
  width: 1px;
  height: 13px;

  border-right: 1px solid #d9d9d9;
}

.graduation .select-grade-content {
  margin-top: 13px;
  margin-bottom: 10px;
}

.graduation .select-grade-content div#essential {
  margin-top: 10px;

  width: 43px;
  height: 14px;
  flex-shrink: 0;

  border-radius: 14px;
  border: 1px solid #77212e;
  background: #77212e;
}

.graduation .select-grade-content .subject {
  gap: 13px;
  flex-wrap: wrap;

  margin-top: 7px;
}

.graduation .select-grade-content .subject p {
  width: fit-content;
}
