h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
li,
input,
button,
label,
hr {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

body {
  font-family: "Pretendard", sans-serif;
  font-style: normal;
  line-height: normal;
}
