.clubs-detail {
  padding: 0 21px;
  padding-top: 6.455vh;
}

.clubs-detail .title {
  margin-top: 1.761vh;
  margin-bottom: 0.822vh;
}

.clubs-detail .always-recruit {
  width: 49px;
  height: 18px;
  flex-shrink: 0;

  border-radius: 4px;
  background: #77212e;
}

.clubs-detail .club-info {
  margin-top: 9px;
}

.clubs-detail .club-info .club-info-title {
  gap: 11px;

  margin-bottom: 1.174vh;
}

.clubs-detail .club-info .club-thumbnail {
  width: 120px;
  height: 120px;

  border-radius: 10px;
  background: #eee;
}

.clubs-detail .club-info .club-content div p:nth-of-type(1) {
  margin-bottom: 10px;
}

.clubs-detail .club-info .club-content .club-apply {
  width: 219px;
  height: 35px;
  flex-shrink: 0;

  border: none;
  border-radius: 10px;
  background: #77212e;

  cursor: pointer;
}

.clubs-detail .club-info .club-description {
  padding: 20px;

  width: 350px;
  height: 70px;
  flex-shrink: 0;

  box-sizing: border-box;
  border-radius: 10px;
  background: #eee;
}
